body {
    font-family: "Outfit", Serif;
    font-size: 26px;
    background-color: #131313;
    color: white;
    text-shadow: black 2px 2px 2px;
    overflow: hidden;
}
.hidden {
    display: none;
}
.no-margin {
    margin: 0;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
footer {
    position: absolute;
    bottom: 5px;
    width: 100vw;
    text-align: center;  
}
footer p {
    font-size: 26px;
    margin: 0;
}