body {
    font-family: "Outfit", Serif;
    font-size: 26px;
    background-color: #131313;
    color: white;
    text-shadow: black 2px 2px 2px;
    /* overflow: hidden; */
}
.hidden {
    display: none;
}
.no-margin {
    margin: 0;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
footer {
    padding-bottom: 10px;
    margin-top: 100px;
    text-align: center;  
}
footer p {
    font-size: 26px;
    margin: 0;
}