body {
    font-family: "Outfit", Serif;
    font-size: 26px;
    background-color: #131313;
    color: white;
    text-shadow: black 2px 2px 2px;
    margin: 0;
}

#content, #mobile-content {
	overflow: hidden;
	min-height: 100vh;		
    text-align: center;	
}

a, a:visited, a:hover {
    color: #7ac5fe;
}

.hidden {
    display: none;
}

.no-margin {
    margin: 0;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.title {
    color: #ed703b;
}

footer {
    padding-bottom: 10px;
    margin-top: 100px;
    text-align: center;  
}

footer p {
    font-size: 26px;
    margin: 0;
}

button.inline {
    cursor: pointer;
    border: none;
    background-color: transparent;
}